input{font-family:Arial}
.sc-btn{display:inline-block;padding:0 8px;margin:0;height:18px;line-height:19px;font-size:13px;filter:chroma(color=#000000);*zoom:1;border:1px solid #d8d8d8;cursor:pointer;font-family:inherit;font-weight:400;text-align:center;vertical-align:middle;background-color:#f9f9f9;overflow:hidden;outline:0}
.sc-btn:hover{border-color:#ff8c40}
.sc-btn input{background:0 0;outline:0}
a.sc-btn{text-decoration:none}
.sc-input{background:#fff;border:1px solid #dfdede;display:inline-block;padding:0 4px;height:22px;line-height:22px\9;width:40px;font-size:13px;outline:0;word-break:normal;overflow:visible;vertical-align:top;box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box}
.sc-input:hover{border-color:#ff8c40}
.spinner span{width:6px;height:6px;margin-right:3px;background-color:#f60;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1s infinite ease-in-out;animation:bouncedelay 1s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}
.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}
@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0)}
40%{-webkit-transform:scale(1)}}
@keyframes bouncedelay{0%,80%,100%{transform:scale(0);-webkit-transform:scale(0)}
40%{transform:scale(1);-webkit-transform:scale(1)}}
.c_font{font-family:Arial,"Microsoft YaHei","微软雅黑"}
.c-icon{display:inline-block;width:16px;height:16px;vertical-align:text-bottom;font-style:normal;overflow:hidden}
.c-icon{background:url(http://s1.bdstatic.com/r/www/cache/mid/static/xueshu/img/icons_eca1308.png) no-repeat 0 0;_background-image:url(http://s1.bdstatic.com/r/www/cache/mid/static/xueshu/img/icons_22dc872.gif)}
.c-icon-mes{background-position:0 0}
.c-icon-set{background-position:-32px 0}
.c-icon-list{background-position:-64px 0}
.c-icon-qr{background-position:-464px 0}
.c-icon-mes-gray{background-position:0 -16px}
.c-icon-set-gray{background-position:-32px -16px}
.c-icon-list-gray{background-position:-64px -16px}
.c-icon-qr-gray{background-position:-496px 0}
.c-icon-file{background-position:-80px 0}
.c-icon-heart{background-position:-96px 0}
.c-icon-heart-org{background-position:-96px -32px}
.c-icon-shape{background-position:-112px 0}
.c-icon-download{background-position:-128px 0}
.c-icon-menu{background-position:-144px 0}
.c-icon-close-org{background-position:-176px 0}
.c-icon-close{background-position:-256px 0}
.c-icon-close-hover:hover .c-icon-close{background-position:-272px 0}
.c-icon-close-w{background-position:-160px -16px}
.c-icon-close-gray{background-position:-176px -16px}
.c-icon-close-gray-hover:hover .c-icon-close-gray{background-position:-160px -16px}
.c-icon-heart-hover:hover .c-icon-heart{background-position:-96px -16px}
.c-icon-file-hover:hover .c-icon-file{background-position:-80px -16px}
.c-icon-shape-hover:hover .c-icon-shape{background-position:-112px -16px}
.c-icon-download-hover:hover .c-icon-download{background-position:-128px -16px}
.c-icon-heart-w{background-position:-128px -80px}
.c-icon-shape-org{background-position:-144px -64px}
.c-icon-shape-w{background-position:-144px -80px}
.c-icon-warning-org{background-position:-160px -64px}
.c-icon-warning-w{background-position:-160px -80px}
.c-icon-fail-circle{background-position:-176px -64px}
.c-icon-arrow-up-gray{background-position:0 -48px}
.c-icon-arrow-down-gray{background-position:0 -32px}
.c-icon-arrow-left-gray{background-position:-16px -48px}
.c-icon-arrow-right-gray{background-position:-16px -32px}
.c-icon-arrow-up-gray-l{background-position:-256px -16px}
.c-icon-arrow-down-gray-l{background-position:-272px -16px}
.c-icon-arrow-right-w{background-position:-16px -64px}
.c-icon-arrow-left-org{background-position:-32px -64px;width:32px;height:32px}
.c-icon-triangle-down-w{background-position:-32px -48px}
.c-icon-triangle-down{background-position:-32px -48px}
.c-icon-triangle-up{background-position:-128px -48px}
.c-icon-triangle-down-d{background-position:-96px -80px}
.c-icon-triangle-up-d{background-position:-112px -80px}
.c-icon-down-gray{background-position:-48px -32px}
.c-icon-down-gray-hover:hover .c-icon-down-gray{background-position:-48px -48px}
.c-icon-down-orange{background-position:-48px -48px}
.c-icon-search-org{background-position:-224px 0}
.c-icon-person{background-position:-192px 0}
.c-icon-search-w{background-position:-224px -64px}
.c-icon-outer-link{background-position:-256px -64px}
.c-icon-outer-link-hover:hover .c-icon-outer-link{background-position:-272px -64px}
.c-icon-copy{background-position:-256px -80px}
.c-icon-copy2{background-position:-272px -80px}
.c-icon-copy-hover:hover .c-icon-copy{background-position:-272px -80px}
.c-icon-search-blue{background-position:-288px 0}
.c-icon-menu-triangle{background-position:-112px -32px}
.c-icon-menu-triangle-border{background-position:-112px -32px}
.c-icon-pdf{background-position:-64px -32px}
.c-icon-link{background-position:-64px -48px}
.c-icon-bear-org{width:18px;height:18px;background-position:-7px -103px;vertical-align:text-bottom}
.c-icon-fail{background-position:-96px -48px}
.c-icon-ok{background-position:-80px -32px}
.c-icon-more{background-position:-80px -48px}
.c-icon-exchange{background-position:-128px -32px}
.c-icon-page-next{background-position:-256px -32px}
.c-icon-page-prev{background-position:-224px -32px}
.c-icon-page-prev-hover:hover .c-icon-page-prev{background-position:-192px -32px}
.c-icon-page-next-hover:hover .c-icon-page-next{background-position:-160px -32px}
.c-icon-fortune{background-position:-96px -64px}
.c-icon-fortune-min{background-position:-112px -64px}
.c-icon-paperhelp{background-position:-144px -32px}
.c-icon-paperhelp-hover:hover .c-icon-paperhelp{background-position:-144px -16px}
.c-icon-question-mark{background-position:-144px -48px}
.c-icon-paperhelp-org{background-position:-304px 0}
.c-icon-v-org{background-position:-320px -32px}
.c-icon-book-org{background-position:-336px 0}
.c-icon-paperhelp-b{background-position:-464px -64px}
.c-icon-v-b{background-position:-416px -64px}
.c-icon-book-b{background-position:-368px -64px}
.c-icon-journal-b{background-position:-512px -64px}
.c-icon-tushu-mark{background-position:-416px 0}
.c-icon-pdf-mark{background-position:-416px -16px}
.c-icon-close-s{background-position:-288px -48px}
.c-icon-trans-V{background-position:-288px -32px}
.c-icon-add-gray{background-position:-384px -32px}
.c-icon-add-org{background-position:-416px -32px}
.c-icon-del-org{background-position:-432px -32px}
.c-icon-zhuanli-mark{background-position:-368px 0}
.c-icon-quote-mark{background-position:-368px -16px}
.c-icon-weixin{background-position:-496px -16px}
.c-icon-sina{background-position:-464px -16px}
.c-icon-sina,.c-icon-weixin{width:18px;height:16px}
.c-icon-zhuanli-mark,.c-icon-pdf-mark,.c-icon-quote-mark,.c-icon-tushu-mark{width:41px;height:16px}
.c-icon-hot{background-position:-192px -64px}
.c-icon-free{margin-left:2px;background-position:-208px -64px}
.c-icon-circle{background-position:-352px -32px}
.c-icon-v{background-position:-304px -48px}
.c-icon-add-gray,.c-icon-v-org,.c-icon-paperhelp-org,.c-icon-book-org,.c-icon-search-org,.c-icon-person,.c-icon-search-w,.c-icon-page-next,.c-icon-page-prev{width:32px;height:32px;vertical-align:middle}
.c-icon-v-b,.c-icon-paperhelp-b,.c-icon-journal-b,.c-icon-book-b{width:48px;height:48px;vertical-align:middle}
.c-icon-bear-pn{background-position:-69px -68px}
.c-icon-bear-p{background-position:-36px -99px}
.c-icon-bear-p,.c-icon-bear-pn{width:24px;height:24px}
.c-icon-circle-blue{background-position:-48px -166px}
.c-icon-circle-blue-s{background-position:-10px -166px}
.c-icon-circle-yellow-s{background-position:3px -166px}
.c-icon-circle-yellow{background-position:-28px -166px}
.c-icon-checkbox{background-position:-124px -206px}
.c-icon-checkbox-sel{background-position:-95px -206px}
input{font-family:Arial}
.sc-btn{display:inline-block;padding:0 8px;margin:0;height:18px;line-height:19px;font-size:13px;filter:chroma(color=#000000);*zoom:1;border:1px solid #d8d8d8;cursor:pointer;font-family:inherit;font-weight:400;text-align:center;vertical-align:middle;background-color:#f9f9f9;overflow:hidden;outline:0}
.sc-btn:hover{border-color:#ff8c40}
.sc-btn input{background:0 0;outline:0}
a.sc-btn{text-decoration:none}
.sc-input{background:#fff;border:1px solid #dfdede;display:inline-block;padding:0 4px;height:22px;line-height:22px\9;width:40px;font-size:13px;outline:0;word-break:normal;overflow:visible;vertical-align:top;box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box}
.sc-input:hover{border-color:#ff8c40}
.spinner span{width:6px;height:6px;margin-right:3px;background-color:#f60;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1s infinite ease-in-out;animation:bouncedelay 1s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}
.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}
@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0)}
40%{-webkit-transform:scale(1)}}
@keyframes bouncedelay{0%,80%,100%{transform:scale(0);-webkit-transform:scale(0)}
40%{transform:scale(1);-webkit-transform:scale(1)}}
.c_font{font-family:Arial,"Microsoft YaHei","微软雅黑"}
.paperhelp-dialog{display:none;width:815px;padding:30px 40px;color:#666;background-color:#fff;border:1px solid #e8e8e8;box-shadow:0 0 20px rgba(0,0,0,.2);-ms-box-shadow:0 0 20px rgba(0,0,0,.2);left:35%;top:35%;position:absolute;z-index:1001}
.paperhelp-dialog a{color:#38f;text-decoration:underline}
.paperhelp-dialog a:hover{text-decoration:underline}
.paperhelp-dialog .paperhelp-close-icon{top:15px;right:15px;line-height:16px;position:absolute}
.paperhelp-dialog .paperhelp-title{font-size:16px;line-height:30px;font-weight:700;margin-bottom:6px}
.paperhelp-dialog .paperhelp-buttons{text-align:center;margin-top:31px;clear:both}
.paperhelp-dialog .paperhelp-normal{line-height:25px}
.paperhelp-dialog .paperhelp-links{color:#999;display:block;text-decoration:none;line-height:20px;margin-top:10px}
.paperhelp-dialog .paperhelp-links .c-icon{margin-right:5px}
.paperhelp-dialog .button{width:78px;height:30px;margin:0 13px;color:#fff;font-size:13px;line-height:30px;text-align:center;cursor:pointer;background-color:#38f;border-radius:2px;border:0;display:inline-block;*zoom:1}
.paperhelp-dialog .paperhelp-button-cancel{background-color:#bababa}
.paperhelp-dialog .colorful{color:#f60}
.paperhelp-dialog .fortune{font-weight:700;font-size:16px;margin-right:5px}
.paperhelp-dialog .c-icon-fortune{margin:0 3px 0 7px}
.paperhelp-dialog .paperhelp-weixin{padding-top:16px;margin-top:24px;overflow:hidden;border-top:1px solid #ecedec}
.paperhelp-dialog .paperhelp-weixin h4{color:#333;font-weight:400;height:40px;line-height:40px}
.paperhelp-dialog .paperhelp-weixin .c-icon{margin-right:7px}
.paperhelp-dialog .paperhelp-weixin .weixinimg{float:left;margin-right:18px}
.paperhelp-dialog .paperhelp-weixin .weixintext{float:left;line-height:20px}
.paperhelp-dialog .paperhelp-method-wr{overflow:hidden;margin-top:15px}
.paperhelp-dialog .paperhelp-method-wr .method{float:left;margin:12px 0}
.paperhelp-dialog .paperhelp-method-wr .method h4{font-size:14px;color:#333;margin-bottom:11px}
.paperhelp-dialog .paperhelp-method-wr .method .weixintext{float:left}
.paperhelp-dialog .paperhelp-method-wr .method .weixinimg,.paperhelp-dialog .paperhelp-method-wr .method .xiongzhangimg{float:right;margin-top:-4px}
.paperhelp-dialog .paperhelp-method-wr .method .button{margin:5px 0 0}
.paperhelp-dialog .paperhelp-method-wr .method1{width:270px;padding-right:20px;border-right:1px solid #ececec}
.paperhelp-dialog .paperhelp-method-wr .method2{width:240px;padding-left:23px;padding-right:19px;border-right:1px solid #ececec}
.paperhelp-dialog .paperhelp-method-wr .method3{padding-left:25px}
.paperhelp-dialog .paperhelp-method-wr .method3 p{width:200px}
.paperhelp-dialog .bdIcon{width:16px;height:16px;margin-right:5px;display:inline-block;background:url(http://s1.bdstatic.com/r/www/cache/mid/static/xueshu/img/shoubai_30f7faf.jpg) no-repeat left center;background-size:cover;vertical-align:text-bottom}
.paperhelp-dialog .wxIcon{width:16px;height:16px;margin-right:5px;display:inline-block;background:url(http://s1.bdstatic.com/r/www/cache/mid/static/xueshu/img/weixin_a6f5e4a.jpg) no-repeat left center;background-size:cover;vertical-align:text-bottom}
input{font-family:Arial}
.sc-btn{display:inline-block;padding:0 8px;margin:0;height:18px;line-height:19px;font-size:13px;filter:chroma(color=#000000);*zoom:1;border:1px solid #d8d8d8;cursor:pointer;font-family:inherit;font-weight:400;text-align:center;vertical-align:middle;background-color:#f9f9f9;overflow:hidden;outline:0}
.sc-btn:hover{border-color:#ff8c40}
.sc-btn input{background:0 0;outline:0}
a.sc-btn{text-decoration:none}
.sc-input{background:#fff;border:1px solid #dfdede;display:inline-block;padding:0 4px;height:22px;line-height:22px\9;width:40px;font-size:13px;outline:0;word-break:normal;overflow:visible;vertical-align:top;box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box}
.sc-input:hover{border-color:#ff8c40}
.spinner span{width:6px;height:6px;margin-right:3px;background-color:#f60;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1s infinite ease-in-out;animation:bouncedelay 1s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}
.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}
@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0)}
40%{-webkit-transform:scale(1)}}
@keyframes bouncedelay{0%,80%,100%{transform:scale(0);-webkit-transform:scale(0)}
40%{transform:scale(1);-webkit-transform:scale(1)}}
.c_font{font-family:Arial,"Microsoft YaHei","微软雅黑"}
body{color:#505961;background:#fff;position:relative;font-family:Arial,"Microsoft YaHei","微软雅黑";font-size:13px;line-height:1.54;word-break:break-all}
body,html{height:100%;margin:0;padding:0;overflow:hidden}
p,form,ol,ul,li,h3,h4,th,td{margin:0;padding:0;list-style:none}
img{border:0}
em{font-style:normal}
a{outline:0;color:#005cd9}
a,em{text-decoration:none}
a:hover,a:hover em{text-decoration:underline}
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
#sc_md_s{background:#666;opacity:.5;filter:alpha(opacity=50);filter:alpha(opacity=50);z-index:990;position:absolute;top:0;left:0;width:100%;height:100%}
.subsDialog{padding:0 10px;height:42px;color:#69c;font-size:14px;line-height:42px;text-align:center;border:1px solid #ccc;background-color:#fff;top:35%;left:35%;position:absolute;display:none;z-index:399}
.subsDialog .texttip{padding-left:6px;_zoom:1}
.spinner span{width:6px;height:6px;margin-right:3px;background-color:#f60;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1s infinite ease-in-out;animation:bouncedelay 1s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}
.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}
@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0)}
40%{-webkit-transform:scale(1)}}
@keyframes bouncedelay{0%,80%,100%{transform:scale(0);-webkit-transform:scale(0)}
40%{transform:scale(1);-webkit-transform:scale(1)}}
#wrapper{height:100%;width:100%}
.frameloading{display:none\9;position:absolute;top:45%;left:30%;width:200px;padding:25px 0 20px;background:rgba(251,242,235,.6);text-align:center}
.frameloading .spinner{display:none\9}
.frameloading .spinner span{width:18px;height:18px;margin-right:10px;animation-duration:1.4s;-webkit-animation-duration:1.4s}
.frameloading .text{margin-top:10px;color:#ffa366}
.leftcontent{height:100%;margin-right:346px;overflow:hidden;transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}
.leftcontent iframe{width:100%;height:100%;border:0}
.rightcontent{width:345px;height:100%;overflow-y:auto;overflow-x:hidden;position:absolute;top:0;right:0;z-index:30;border-left:1px solid #ccc;transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}
.headform{padding:20px 0 10px 44px}
.headform #form{height:35px;font-size:0}
.headform .s_ipt_wr{background:#fff;width:77.6%;height:33px;display:inline-block;border:0;vertical-align:top;border:1px solid #ededed;border-right:0}
.headform .s_ipt_wr.iptfocus,.headform .s_ipt_wr.ipthover{border:1px solid #38f;border-right:0}
.headform .s_ipt{width:212px;font:16px/22px arial;height:22px;margin:6px 0 0 7px;background:#fff;outline:0;-webkit-appearance:none;border:0}
.headform .s_btn_wr{display:inline-block;height:35px}
.headform .s_btn{height:35px;width:50px;border:0;color:#fff;padding-top:2px \9;font-size:15px;letter-spacing:1px;border-bottom:1px solid #2975e5;outline:medium;cursor:pointer;-webkit-appearance:none;border:0;filter:chroma(color=#000000);*zoom:1;background:#38f url(http://s1.bdstatic.com/r/www/cache/mid/static/xueshu/img/search_bde58e3.png) 0 0 no-repeat;_background:#38f url(http://s1.bdstatic.com/r/www/cache/mid/static/xueshu/img/search_1c40a62.gif) 0 0 no-repeat}
.headform .sug-container{width:82%;position:absolute;left:44px;top:54px;background:#fff;display:none;border:1px solid #f5f5f5;*border:1px solid #d8d8d8;z-index:300;box-shadow:0 2px 4px rgba(0,0,0,.2);-ms-box-shadow:0 2px 4px rgba(0,0,0,.2)}
.headform .sug-container li{line-height:22px;padding:0 8px;position:relative;cursor:default;color:#000;font-size:14px}
.headform .sug-container li.sug-s{background:#f0f0f0}
.maincontent{padding:20px 0}
.maincontent a{text-decoration:none}
.maincontent a:hover{text-decoration:underline}
.maincontent .t{font-size:20px;line-height:32px;padding-top:5px;margin-bottom:8px;color:#333}
.maincontent .maininfo{padding:0 21px}
.maincontent .exttool{padding-left:21px}
.maincontent .subinfo_wr{line-height:25px}
.maincontent .subinfo_wr .text{display:inline-block;color:#005cd9;width:230px}
.maincontent .subinfo_wr .label{width:52px;color:#333;vertical-align:top;display:inline-block}
.maincontent .allversion{clear:both}
.maincontent .allversion h4{font-size:15px;margin-top:23px;margin-bottom:5px;padding:0 21px}
.maincontent .allversion .dl_item{padding-left:16px;vertical-align:middle;width:235px}
.maincontent .allversion a:hover{}
.maincontent .allversion a:hover span{text-decoration:underline}
.maincontent .allversion a span{cursor:pointer}
.maincontent .allversion span,.maincontent .allversion a{display:inline-block}
.maincontent .allversion .dl_item_span{position:relative;display:block;height:35px;line-height:35px;border-left:5px solid #fff}
.maincontent .allversion .dl_item_span.select{border-left-color:#f60;background-color:#ffebd9}
.maincontent .allversion .dl_item_span.itemhover{border-left-color:#f60}
.maincontent .allversion .dl_vurl_copytip,.maincontent .allversion .dl_outlink_hovertip{display:none;position:absolute;right:0;top:37px;z-index:10;color:#000;font-size:12px}
.maincontent .allversion .dl_outlink_hovertip{right:20px;background-color:#efefef;border-radius:2px;line-height:19px;height:19px;overflow:hidden;text-align:center;border:1px solid #cecece;padding:0 6px;box-shadow:0 2px 3px rgba(0,0,0,.2)}
.maincontent .allversion .dl_vurl_copytip{width:60px;height:26px;overflow:hidden;padding:0}
.maincontent .allversion .dl_vurl_copytip .aftercopytip,.maincontent .allversion .dl_vurl_copytip .beforcopytip{background-color:#efefef;border-radius:2px;line-height:19px;height:19px;overflow:hidden;text-align:center;border:1px solid #cecece;width:58px;box-shadow:0 2px 3px rgba(0,0,0,.2)}
.maincontent .allversion .dl_vurl_copytip .beforcopytip{width:48px;margin-bottom:5px;margin-left:4px}
.maincontent .allversion .dl_vurl_copytip.aftercopy .tipcontent{top:-26px}
.maincontent .allversion .dl_vurl_copytip .tipcontent{position:absolute;top:0;left:0;width:100%;text-align:center;transition:all .25s}
.maincontent .allversion .dl_icon{width:16px;height:16px;vertical-align:middle}
.maincontent .allversion img{vertical-align:top}
.maincontent .allversion .dl_source{max-width:140px;vertical-align:middle;margin-left:10px}
.maincontent .allversion .dl_lib{color:#999;max-width:112px;vertical-align:middle}
.maincontent .allversion .dl_vurl_copybtn,.maincontent .allversion .dl_outlink{height:30px;margin-right:10px;vertical-align:middle;float:right;_margin-top:8px}
.maincontent .allversion .dl_vurl_copybtn{display:inline-block;height:30px;border:0;width:16px;cursor:pointer;margin-right:21px;*display:none}
.maincontent .allversion .dl_vurl_copybtn:hover .c-icon-copy,.maincontent .allversion .dl_vurl_copybtn.zeroclipboard-is-hover .c-icon-copy{background-position:-272px -80px}
.maincontent .allversion .dl_vurl_copybtn .c-icon{cursor:pointer}
.maincontent .allversion .zeroclipboard-is-hover{}
.maincontent .paperhelp_wr{margin-bottom:30px;margin-top:4px;line-height:30px}
.maincontent .sc_paperhelp{text-decoration:underline}
.maincontent .btn{width:140px;height:40px;line-height:40px;color:#f60;display:inline-block;text-align:center;font-size:14px;background-color:#fff8f2;border:1px solid #ffebd9;cursor:pointer;border-radius:4px}
.maincontent .btn:hover{text-decoration:none;background-color:#ffebd9;border-color:#ffe4cc}
.maincontent .btn .c-icon{margin-right:7px;_display:none}
.maincontent .sc_collect{margin-right:15px}
.openright_btn{display:none;background-color:#f8f8f8;height:100%;width:100%;cursor:pointer}
.openright_btn .c-icon{position:absolute;top:50%;margin-top:-16px;left:4px}
.openright_btn:hover{background-color:#ffebd9}
.hideright_btn{position:absolute;left:-1px;top:20px;z-index:99;width:32px;height:35px;background-color:#ccc;border-radius:0 3px 3px 0;cursor:pointer}
.hideright_btn .c-icon{margin:10px 0 0 8px}
.hideright_btn:hover{background-color:#999}
.wrapper_s .openright_btn{display:block}
.wrapper_s .hideright_btn{display:none}
.wrapper_s .rightcontent{margin-right:-304px}
.wrapper_s .rightcontent .headform,.wrapper_s .rightcontent .maincontent{display:none}
.wrapper_s .leftcontent{margin-right:41px}